* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  background-color: #eee;
}

main {
  margin: 15vh auto;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.row {
  display: flex;
}

.row li {
  cursor: pointer;
  list-style: none;
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

li[data-element="0"],
li[data-element="1"],
li[data-element="2"] {
  border-top: 2px solid transparent; 
}

li[data-element="0"],
li[data-element="3"],
li[data-element="6"]
 {
  border-left: 2px solid transparent; 
}

li[data-element="2"],
li[data-element="5"],
li[data-element="8"]
 {
  border-right: 2px solid transparent; 
}

li[data-element="6"],
li[data-element="7"],
li[data-element="8"] {
  border-bottom: 2px solid transparent; 
}

.rowWin, .colWin, .dgLeft, .dgRight  {
  transition: all .5s;
  position: relative;
}

.rowWin::after, .colWin:after {
  content: '';
  position: absolute;
  width: 300px;
  height: 20px;
  background-color: #333;
}

.rowWin:after {
  top: 40px;
  left: 0px;
  animation: growUpD 1s forwards;
}

.colWin:after {
  rotate: 90deg;
  top: 142px;
  animation: growUpD 1s forwards;
}

.dgLeft:before, .dgRight:before {
  content: '';
  position: absolute;
  background-color: #333;
  height: 20px;
  margin-top: 200px;
  margin-left: 200px;
}

.dgLeft:before {
  rotate: 45deg;
  animation: growUp 1s forwards;
}

.dgRight:before {
  rotate: 135deg;
  margin-left: -200px;
  animation: growUp 1s forwards;
}

.buttonReset {
  text-align: center;
}

.buttonReset button {
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(42, 42, 190);
  border: none;
  color: #eee;
  border-radius: 5px;
}


@keyframes growUp{
  from {
    width: 0px;
  }
  to {
    width: 405px;
  }
}


@keyframes growUpD{
  from {
    width: 0;
  }
  to {
    width: 305px;
  }
}
